/* Titulo NAV */
nav {
    float: left;
    border: 3px solid black;
    padding: 1%;
    margin-bottom: 5%;
    background-color: rgb(250, 239, 179);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 120%;
}

@media only screen and (max-width: 767px) {
    nav {
        width: 96%;
    }
}

.titulo-nav {
    text-align: center;
    background-color: gold;
    padding: 1%;
}

.datos {
    padding: 1%;
}

#subarea-e {
    margin-left: 23%;
}

/* Casilleros de entrada NFPA */
input.inputNFPA {
    width: 4.5vw;
}

/* Casilleros de entrada SGA */
div.casilleroSGA {
    display: flex;
    flex-direction: column;
}

/* Contenedor imagen */
.imagen {
    position: relative;
    display: inline-block;
    border: 2px solid black;
    margin-left: 5%;
}

@media only screen and (max-width: 767px) {
    .imagen {
        width: 100%;
        margin: 0px;
    }
}




img {
    height: 90vh;
}

@media only screen and (max-width: 767px) {
    img {
        width: 100%;
        height: auto;
    }
}

/* Texto area */
#area-output {
    position: absolute;
    top: 9%;
    left: 53%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    width: 64%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.9vw;
    font-weight: bold;
    color: black;
}

@media only screen and (max-width: 767px) {
    #area-output {
        font-size: calc(50vw / 10)
    }
}


/* Texto de subarea */
#texto-laboratorio {
    position: absolute;
    top: 15%;
    left: 53%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.9vw;
    font-weight: bold;
    color: black;
}

@media only screen and (max-width: 767px) {
    #texto-laboratorio {
        font-size: calc(30vw / 10)
    }
}

/* Texto de subarea - alternativo */
#subarea-s {
    position: absolute;
    top: 15%;
    left: 53%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.9vw;
    font-weight: bold;
    color: black;
    background-color: white;
}

@media only screen and (max-width: 767px) {
    #subarea-s {
        font-size: calc(30vw / 10)
    }
}


/* NFPA */
#NFPA1,
#NFPA2,
#NFPA3,
#NFPA4 {
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4.9vw;
    font-weight: 800;
}

@media only screen and (max-width: 767px) {

    #NFPA1,
    #NFPA2,
    #NFPA3,
    #NFPA4 {
        font-size: calc(100vw / 10)
    }
}

#NFPA1 {
    position: absolute;
    top: 40%;
    left: 9%;
    color: white;
}

#NFPA2 {
    position: absolute;
    top: 28%;
    left: 18.3%;
    color: white;
}

#NFPA3 {
    position: absolute;
    top: 40%;
    left: 28%;
}

#NFPA4 {
    position: absolute;
    top: 50%;
    left: 18.3%;
}

#NFPA4 img {
    width: 3.9vw;
    height: auto;
}

@media (max-width: 768px) {

    #NFPA4 img {
        width: 7vw;
        height: auto;
    }
}

@media only screen and (max-width: 767px) {
    #NFPA1 {
        top: 40%;
        /* Ajusta la posición para dispositivos móviles */
    }

    #NFPA2 {
        top: 30%;
        /* Ajusta la posición para dispositivos móviles */
    }

    #NFPA3 {
        top: 40%;
        /* Ajusta la posición para dispositivos móviles */
    }

    #NFPA4 {
        top: 50%;
        /* Ajusta la posición para dispositivos móviles */
    }
}


/* Sustancia Química */
#compuestoid-output {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: absolute;
    top: 18%;
    left: 43%;
    width: 55%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;


}

#compuestoid-output span {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
    font-size: 1000%;
    line-height: 1.1;
    margin: 0 auto;

}

@media only screen and (max-width: 767px) {
    #compuestoid-output {
        font-size: calc(20vw / 10)
    }
}





/* Formula o concentración */
#formula-output {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: absolute;
    top: 48%;
    left: 43%;
    width: 55%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
    /* !borrar */
    border-top: 2px solid black;
}



#formula-output span {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
    font-size: 1000%;
    line-height: 1.5;
    margin: 0 auto;
}

@media only screen and (max-width: 767px) {
    #formula-output {
        font-size: calc(25vw / 10)
    }
}


/* SGA */

#SGAT {
    position: absolute;
    top: 58%;
    left: 32%;
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#SGA1,
#SGA2,
#SGA3,
#SGA4 {
    display: inline-block;
}

#SGA1 img,
#SGA2 img,
#SGA3 img,
#SGA4 img {
    width: auto;
    height: 9.5vw;
    z-index: 1;
    display: block;
    margin: 0 auto;
}

@media (max-width: 768px) {

    #SGA1 img,
    #SGA2 img,
    #SGA3 img,
    #SGA4 img {
        width: 15vw;
        height: auto;
    }
}


/* Nota */
#nota {
    min-height: 2em;
    /* Altura mínima para dos líneas de texto */
    width: 95%;

    /* Ancho deseado para el casillero de texto */
}

#nota-output {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    position: absolute;
    top: 83%;
    left: 3%;
    width: 95%;
    height: 15%;
    display: flex;
    justify-content: flex-start;
    /* Cambiado a "flex-start" para justificar a la izquierda */
    text-align: left;
    box-sizing: border-box;
    overflow: hidden;

}

#nota-output span {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
    font-size: 1000%;
    line-height: 1.5;
    margin: 0;
    /* Cambiado a "0" para eliminar el margen automático */
}

@media only screen and (max-width: 767px) {
    #nota-output {
        font-size: calc(25vw / 10)
    }
}






/* !James George */
#JamesGeorge {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 20%;
    position: absolute;
    top: 98%;
    left: 83%;
    width: 20%;
    z-index: 1;

}

@media (max-width: 768px) {

    #JamesGeorge {
        font-size: calc(10vw / 10);
    }
}
